* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html {
  height:100%;
  width:100%;
}
body {
  text-align: center;
  font-size:2.5em;
  height:100%;
}

#contentContainer {
  margin-top:5em;
  height:15em;
}

#interestIn {
  margin-top:1em;
}
