* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html {
  height:100%;
  width:100%;
}
body {
  text-align: center;
  font-size:2.5em;
}

#mainContainer {
  text-align: center;
  margin-top:8em;
}

#imageContainer {

}

img {
  max-width: 150px;
  max-height: 150px;
}


#bioContainer {
  max-width:20em;
}

#nameContainer {
  font-size:1em;
}
p {
  font-size: 16px;
}

input {
  display:none;
}
